html body {
  width: 100%;
  height: 100%;
  background-color: #222;
}

.app {
  width: 100%;
  height: 100%;
}

/* stage*/
.stage {
  position: relative;
  width: 100%;
  height: 600px;
}
/* image*/
.img-sec {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  background-color: #ddd;
}
.image{
  height: 280px;
  width:240px;
}
.img-sec figcaption{
  text-align: center;
}
.img-figure{
  width: 320px;
  height: 360px;
  margin: 0;
  padding: 40px;

  background-color: #fff; 
  box-sizing:border-box;

}

/*comtrol*/
.controller-nav {
  position: absolute;
  left: 0;
  bottom: 30px;
  z-index: 102;

  text-align: center;
}